body{
    margin: 0%;
    padding: 0%;
  
    color: rgb(41, 61, 44);
    background-color:greenyellow;
   
  
}
 ul{
    list-style: none;
    padding: 0%;
 }
header img{
    border-radius: 24%;
position: absolute;
left: 50px;
top: 100px;
}

header{
    background-position: center;
    margin: 0px ; top: 0%;

    color: rgb(30, 56, 13);
    padding: 1 rem ;
    width: 100%;
 
    top: 0;
}
.menu{
    position:absolute ;
    left: 20%;
    top: 50%;

}

header #H1{
    color: darkgreen;
    background-color: antiquewhite;
    text-align: center;
    font-size: larger 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}           
  header h2{
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
main{


    padding: 1rem;
    position:  absolute;
    left: 0px;
    top: 50%;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: antiquewhite
}
main h4{
    border: 1px solid greenyellow;
    color: darkgreen;
    font-size:20px;
}

main .precio{
    color: crimson;
/* padding: 0 1rem; */
padding-left: 60%;
text-align: center;

}

#carta{


    position: fixed;
 bottom: 0px;

    margin:10px ;
    left: 20%;
    right: 20%;
    background-color: #006;
    color: #ddd;
    padding: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 10;
}
footer{
position: absolute;
bottom: 3px;
right: 10px;
}
