body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #bd0d91;
    background-image: linear-gradient(
        to bottom,
       white 0%,
        white 100%

    );

}
header{
    background-color: #bd0d91;
    color: aliceblue;
    padding:1rem ;
    position: fixed;
    top: 0;
    width: 100%;
}

header img {
    float: right;
    margin-right: 2rem;
}
h1{
    margin: 0;
    font-size: 1.4rem;

}
h2{
    margin: 0%;
    font-size: 1.2rem;
    color:white;
    
}
h3{
    margin-top: 0;
    background-color: white;
    padding: .5rem;
    border-bottom: 2px dashed darkred;


}
main{
    background-color: aliceblue;
    padding: 1rem;
    padding-top: 120%;
}
#cart{
    position: fixed;
    bottom: 0;
    margin: 0;
    left: 20%;
    right: 20%;
    background-color: #006;
    padding: .8rem;
     border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 100;

}
#cart li {
    margin: 5px 10px;
}

#cart a {
    color: yellow;
}

#cart h4{
    text-align: center;
    margin: 0;
    font-size: 0.8rem;
    color: #aaa;
}
ul {
    list-style: none;
    padding: 0;
}
.meal{
    margin-top: 15px;

}
.meal h4{
    color: #bd0d91;
    font-size: 1.4rem;
margin: 5px 0;

}
.meal section{
    display: flex;

}
.meal.description{
    font-size: 0.8rem;
    color: #444;
    margin: 0;
    flex-grow: 1;

}
.meal.price{
    padding: 0 1rem;
    text-align: center;
    font-size: small;

}